<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhtkj.jt808.mapper.CarHistoryMapper">

	<insert id="insertCarHistory">
		insert into zt_car_history_${month} (
		  lic_number,
		  sim_number,
		  longitude,
          latitude,
          speed,
          altitude,
          direction,
          box_up,
          box_empty,
          box_close,
          state,
          report_time
		)
		values
		  (
		  	'${locationInfo.licNumber}',
		  	'${locationInfo.simNumber}',
		  	${locationInfo.longitude},
		    ${locationInfo.latitude},
		    ${locationInfo.speed},
		    ${locationInfo.altitude},
		    ${locationInfo.direction},
		    ${locationInfo.boxUp},
		    ${locationInfo.boxEmpty},
		    ${locationInfo.boxClose},
		    '${locationInfo.state}',
		    '${locationInfo.reportTime}'
		  ) 
	</insert>

</mapper>