<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhtkj.jt808.mapper.SendActionMapper">
	
	<select id="findSendAction" resultType="com.zhtkj.jt808.entity.SendAction">
		select 
		  action_id actionId,
		  lic_number licNumber,
		  sim_number simNumber,
		  action_type actionType,
	      action_value actionValue
	    from 
	      zt_send_action 
	    where 
	      receive_result = 0 
	</select>
	
</mapper>