<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhtkj.jt808.mapper.VehicleRunMapper">

	<update id="setVehicleOnline">
		update 
		  zt_vehicle_run
		set 
		  online_time = now(),
		  online_state = 1
		where
		  lic_number = #{licNumber}
	</update>
	
    <update id="setVehicleOffline">
		update 
		  zt_vehicle_run
		set 
		  offline_time = now(),
		  online_state = 0
		where
		  report_time &lt;= #{idleTime}
		  and online_state = 1
	</update>
	
	<select id="findPassword" resultType="com.zhtkj.jt808.entity.CarRuntime">
		select 
		  password 
	    from 
	      zt_car_runtime 
	    where 
	      lic_number = '${licNumber}'
	    limit 1
	</select>
</mapper>